* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

/* logoooo */
.logo {
  width: max-content;
  height: max-content;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
  margin-top: 50px;
}
.logo img {
  width: 150px;
}
/* heading */

.text h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  margin: 50px auto;
  font-family: "Oswald", sans-serif;
  color: rgb(248, 182, 37);
  font-weight: bolder;
}

/* order */
.order h1 {
  color: rgb(248, 182, 37);
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 5px;
}

/* images */
.img {
  text-align: center;
  padding: 20px;
  margin-top: 100px !important;
}
.img img {
  width: 100%;
}
/* contact */

.contact {
  width: 100%;
  height: max-content;
  background-image: url("images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 100px !important;
  text-align: center;
  color: rgb(248, 182, 37);
  font-family: "Oswald", sans-serif;
  margin-bottom: 100px;
}
.sub-contact {
  text-align: center;
  letter-spacing: 4px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  padding: 40px 70px 90px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}
.sub-contact h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 50px;
}
.sub-contact p {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0px;
}
.sub-contact p span {
  font-size: 30px;
}

.sub-contact p:hover {
  color: white;
  cursor: pointer;
}

.icon a {
  text-decoration: none;
  color: rgb(248, 182, 37);
}
.icon a:hover {
  color: white;
}

/* contact-end */

/* media queries */
@media (max-width: 500px) {
  body {
    box-sizing: border-box;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
  .logo {
    margin-top: 60px;
  }
  .logo img {
    width: 100px;
  }
  .text h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .img {
    margin-left: 0px;
    width: 100%;
    height: max-content;

    padding: 0 30px;
    margin: 20px;
    margin-top: 30px;
  }
  .img img {
    width: 90%;
    margin-top: 5px;
  }
  .sub-contact {
    padding: 0px;
    letter-spacing: 7px;
    font-size: 20px;
    height: max-content;
  }
  .sub-contact h1 {
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 4px;
  }
  .sub-contact p {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 3px;
    height: max-content;
    margin-top: 0px;
    letter-spacing: 0px;
  }

  .order h1 {
    letter-spacing: 1px;
    font-size: 25px;
  }
  .icon i {
    font-size: 20px;
  }
}
